body{
  display: flex;
  background-color: #526d65;
}

header{
  margin-left: 500px;
  margin-top: 100px;

}
.container{
  width: 425px;
  height: 360px;
  position: absolute;
  padding-top: 2px;
  padding-left: 2px;
  clip-path: ellipse(49% 45% at 50% 50%);
  background-color: black;
}

.head{
  width: 423px;
  height: 358px;
  clip-path: ellipse(49% 45% at 50% 50%);
  background-color: #a88ea9;
}

.item{
    width: 104px;
    height: 105px;
    padding-top: 4px;
    padding-left: 4px;
    margin-top: 285px;
    margin-left: 260px;
    background-color: black;
    position: absolute;
    clip-path: polygon(6% 47%, 77% 20%, 76% 49%, 32% 61%);
  }

.item1{
  width: 100px;
  height: 100px;
  background-color: #86678c;
  clip-path: polygon(6% 47%, 77% 20%, 76% 49%, 32% 61%);
}

.item2{
  width: 204px;
  height: 204px;
  padding-top: 4px;
  padding-left: 4px;
  margin-top: 191px;
  margin-left: -15px;
  background-color: black;
  position: absolute;
  clip-path: polygon(46% 56%, 63% 65%, 52% 75%, 35% 66%, 37% 49%);
}

.item3{
  width: 200px;
  height: 200px;
  background-color:#86678c;
  clip-path: polygon(46% 56%, 63% 65%, 52% 75%, 35% 66%, 37% 49%);
}

.relleno{
  width: 105px;
  height: 65px;
  margin-top: 210px;
  margin-left: 260px;
  background-color: #a88ea9;
  position: absolute;
  clip-path: polygon(42% 12%, 100% 20%, 37% 79%, 3% 48%);
}

.item4{
  width: 154px;
  height: 155px;
  padding-top: 1px;
  padding-left: 1px;
  margin-top: 220px;
  margin-left: 300px;
  background-color: black;
  position: absolute;
  clip-path: polygon(16% 15%, 36% 4%, 35% 13%, 47% 30%, 38% 41%, 27% 45%, 13% 32%, 0 26%);
}

.item5{
  width: 150px;
  height: 150px;
  background-color: #a88ea9;
  clip-path: polygon(16% 15%, 36% 4%, 35% 13%, 47% 30%, 38% 41%, 27% 45%, 13% 32%, 0 26%);
}

.item6{
  width: 103px;
  height: 104px;
  padding-top: 3px;
  padding-left: 4px;
  margin-left: 350px;
  margin-top: 150px;
  background-color: black;
  position: absolute;
  clip-path: polygon(56% 25%, 86% 27%, 94% 43%, 90% 63%, 56% 66%, 47% 84%, 49% 50%, 39% 14%);
}

.item7{
  width: 100px;
  height: 100px;
  background-color: #a88ea9;
  clip-path: polygon(56% 25%, 86% 27%, 94% 43%, 90% 63%, 56% 66%, 47% 84%, 49% 50%, 39% 14%);
}

.item8{
  width: 103px;
  height: 104px;
  padding-top: 3px;
  padding-left: 4px;
  margin-left: 335px;
  margin-top: 55px;
  position: absolute;
  background-color: black;
  clip-path: polygon(80% 26%, 85% 49%, 60% 67%, 14% 25%, 60% 16%);
}

.item9{
  width: 100px;
  height: 100px;
  background-color: #a88ea9;
  clip-path: polygon(80% 26%, 85% 49%, 60% 67%, 14% 25%, 60% 16%);
}

.item10{
  width: 155px;
  height: 147px;
  padding-top: 2px;
  padding-left: 2px;
  margin-left: 140px;
  position: absolute;
  background-color: black;
  clip-path: polygon(50% 0%, 64% 0, 69% 5%, 67% 20%, 74% 36%, 53% 37%, 26% 37%, 33% 23%, 33% 5%, 39% 0);

}

.item11{
  width:153px;
  height: 145px;
  background-color: #a88ea9 ;
  clip-path: polygon(50% 0%, 64% 0, 69% 5%, 67% 20%, 74% 36%, 53% 37%, 26% 37%, 33% 23%, 33% 5%, 39% 0);
}

.relleno2{
      margin-left: 190px;
      margin-top: 50px;
      width: 216px;
      height: 205px;

      background-color: #a88ea9;
      clip-path: polygon(0 0, 67% 5%, 97% 29%, 103% 99%, 57% 56%);
}

.item12{
  width: 103px;
  height: 104px;
  padding-top: 3px;
  padding-left: 2px;
  margin-top: 30px;
  margin-left: 35px;
  position: absolute;
  background-color: black;
  clip-path: polygon(32% 10%, 46% 20%, 60% 32%, 75% 45%, 46% 61%, 20% 77%, 12% 60%, 2% 45%, 0% 35%, 21% 13%);
}

.item13{
  width: 100px;
  height: 100px;
  background-color: #a88ea9;
  clip-path: polygon(32% 10%, 46% 20%, 60% 32%, 75% 45%, 46% 61%, 20% 77%, 12% 60%, 2% 45%, 0% 35%, 21% 13%);
}

.item14{
  width: 104px;
  height: 104px;
  padding-top: 2px;
  padding-left: 2px;
  margin-top: 170px;
  margin-left: -15px;
  position: absolute;
  background-color: black;
  clip-path: polygon(4% 31%, 37% 18%, 44% 71%, 8% 48%);

}

.item15{
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #a88ea9;
  clip-path: polygon(4% 31%, 37% 18%, 44% 71%, 8% 48%);
}

.relleno3{
  width: 216px;
  height: 205px;
  margin-top: -198px;
  margin-left: 24px;
  position: absolute;
  background-color: #a88ea9;
  clip-path: polygon(71% 0, 91% 0, 35% 56%, 0 96%, 0 41%, 27% 15%)
}

.relleno4{
  width: 15px;
  height: 10px;
  margin-top: -200px;
  margin-left: 181px;
  position: absolute;
  background-color: #a88ea9;
}
/* fin items............................................................................................ */
.rotate{
  transform: rotate(7deg);

}

.leftEye{
  width: 97px;
  height: 47px;
  padding-top: 2px;
  padding-left: 2px;
  margin-top: -145px;
  margin-left: 70px;
  background-color: black;
  position: absolute;
  border-radius: 90px 90px 0 0;
  box-shadow: 2px -5px 0px -1px rgba(121,86,128,1);
}

.subLeftEye{
  width: 95px;
  height: 45px;
  background-color: #ececec;
  position: absolute;
  border-radius: 90px 90px 0 0;
}

.leftPupil{
  width: 10px;
  height: 10px;
  margin-left: 60px;
  margin-top: 30px;
  border-radius: 50px;
  background-color: black;
}

.rightEye{
  width: 115px;
  height: 55px;
  padding-top: 2px;
  padding-left: 2px;
  margin-top: -152px;
  margin-left: 220px;
  background-color: black;
  position: absolute;
  border-radius: 90px 90px 0 0;
  box-shadow: -3px -5px 0px -1px rgba(121,86,128,1);

}

.subRightEye{
  width: 113px;
  height: 53px;
  background-color: #ececec;
  position: absolute;
  border-radius: 90px 90px 0 0;
}

.rightPupil{
  width: 10px;
  height: 10px;
  margin-left: 25px;
  margin-top: 35px;
  border-radius: 50px;
  background-color: black;
}

/* fin eyes............................................................................... */

.cruz{
  width: 120px;
  height: 120px;
  margin-left: 130px;
  margin-top: -15px;
  position: absolute;
  clip-path: polygon(5% 24%, 2% 36%, 35% 49%, 9% 60%, 11% 70%, 40% 55%, 70% 69%, 74% 59%, 47% 50%, 80% 35%, 77% 25%, 40% 44%);
  background-color: black;
  transform: rotate(7deg);
}

.subCruz{
  width: 114px;
  height: 113px;
  margin-top: 3.5px;
  margin-left: 3px;
  position: absolute;
  clip-path: polygon(5% 24%, 2% 36%, 35% 49%, 9% 60%, 11% 70%, 40% 55%, 70% 69%, 74% 59%, 47% 50%, 80% 35%, 77% 25%, 40% 44%);
  background-color: #d3cd76;
}

.rellenoCruz{
  width: 21px;
  height: 16px;
  margin-left: 135px;
  margin-top: 11px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 0% 100% 1% 99% / 0% 100% 0% 100%;
}

.leftTopcruz{
  width: 25px;
  height: 25px;
  margin-left: 120px;
  margin-top: -1px;
  background-color: black;
  position: absolute;
  border-radius: 79% 21% 1% 99% / 79% 100% 0% 21%;
  transform: rotate(-12deg);
}

.subLeftCruz{
  width: 23px;
  height: 23px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 79% 21% 1% 99% / 79% 100% 0% 21%;
}

.rightTopCruz{
  width: 25px;
  height: 25px;
  margin-left: 225px;
  margin-top: 11px;
  position: absolute;
  background-color: black;
  border-radius: 20% 80% 100% 0% / 100% 52% 48% 0%;
  transform: rotate(35deg);
}

.subRightTopCruz{
  width: 23px;
  height: 23px;
  margin-top: 1px;
  margin-left: 1px;
  position: absolute;
  background-color: #d3cd76;
  border-radius: 20% 80% 100% 0% / 100% 52% 48% 0%;
}
.rellenoCruz2{
  width: 15px;
  height: 15px;
  margin-left: 219px;
  margin-top: 17px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
}
.rightDownCruz{
  width: 20px;
  height: 20px;
  margin-left: 210px;
  margin-top: 59px;
  background-color: black;
  position: absolute;
  border-radius: 0% 100% 80% 20% / 0% 20% 80% 100%;
}

.subRightDownCruz{
  width: 18px;
  height: 18px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 0% 100% 80% 20% / 0% 20% 80% 100%;
}

.rellenoCruz3{
  width: 15px;
  height: 15px;
  margin-left: 205px;
  margin-top: 56px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
}


.leftDownCruz{
  width: 20px;
  height: 20px;
  margin-left: 125px;
  margin-top: 50px;
  background-color: black;
  position: absolute;
  border-radius: 100% 0% 28% 72% / 24% 0% 100% 76%;
  transform: rotate(15deg);
}

.subLeftDownCruz{
  width: 18px;
  height: 18px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 100% 0% 28% 72% / 24% 0% 100% 76%;
}

.rellenoCruz4{
  width: 15px;
  height: 15px;
  margin-left: 140px;
  margin-top: 47px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  transform: rotate(25deg);
}

.circleCruz{
  width: 80px;
  height: 80px;
  margin-left: 145px;
  margin-top: -33px;
  background-color: black;
  position: absolute;
  clip-path: ellipse(37% 24% at 50% 50%);
  transform: rotate(7deg);
}

.subCircleCruz{
  width: 78px;
  height: 78px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #d3cd76;
  position: absolute;
  clip-path: ellipse(37% 24% at 50% 50%);
}

.circlePurple{
  width: 45px;
  height: 45px;
  margin-left: 163px;
  margin-top: -16px;
  background-color: black;
  position: absolute;
  clip-path: ellipse(37% 24% at 50% 50%);
  transform: rotate(7deg);
}

.subCirclePurple{
  width: 43px;
  height: 43px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #a88ea9;
  position: absolute;
  clip-path: ellipse(37% 24% at 50% 50%);
}

.cod1{
  width: 10px;
  height: 12px;
  margin-left: 170px;
  margin-top: 19px;
  background-color: black;
  position: absolute;
  border-radius: 100% 0% 49% 51% / 0% 0% 100% 100%;
  transform: rotate(7deg);
}

.subCod1{
  width: 8px;
  height: 10px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 100% 0% 49% 51% / 0% 0% 100% 100%;
}

.cod2{
  width: 10px;
  height: 12px;
  margin-left: 180px;
  margin-top: 19px;
  background-color: black;
  position: absolute;
  border-radius: 100% 0% 49% 51% / 0% 0% 100% 100%;
  transform: rotate(7deg);
}

.subCod2{
  width: 8px;
  height: 10px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 100% 0% 49% 51% / 0% 0% 100% 100%;
}

.cod3{
  width: 10px;
  height: 12px;
  margin-left: 190px;
  margin-top: 19px;
  background-color: black;
  position: absolute;
  border-radius: 100% 0% 49% 51% / 0% 0% 100% 100%;
  transform: rotate(7deg);
}

.subCod3{
  width: 8px;
  height: 10px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #d3cd76;
  position: absolute;
  border-radius: 100% 0% 49% 51% / 0% 0% 100% 100%;
}

.codRelleno{
  width: 68px;
  height: 71px;
  margin-left: 151px;
  margin-top: -15px;
  background-color:#d3cd76;
  position: absolute;
  clip-path: ellipse(26% 5% at 50% 50%);
  transform: rotate(2deg);
}
/* fin Cruz.............................................................................. */

.mouth{
  width: 215px;
  height: 45px;
  margin-left: 90px;
  margin-top: -60px;
  background-color: black;
  position: absolute;
  border-radius: 100% 0% 50% 50% / 0% 0% 100% 100% ;
  transform: rotate(7deg);
}

 .subMouth{
  width: 212px;
  height: 42px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #9e414c;
  position: absolute;
  overflow: hidden;
  border-radius: 100% 0% 50% 50% / 0% 0% 100% 100% ;
}

.tongue{
  width: 190px;
  height: 140px;
  margin-left: 2px;
  margin-top: -15px;
  background-color: #d3777c;
  border-radius: 1% 99% 0% 100% / 0% 100% 0% 100%;
  transform: rotate(145deg);
}

.leftCanine{
  width: 33px;
  height: 23px;
  margin-left: 80px;
  margin-top: -73px;
  background-color: black;
  position: absolute;
  clip-path: polygon(51% 100%, 0 0, 100% 0);
  transform: rotate(7deg);
}

.subLeftCanine{
  width: 30px;
  height: 20px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #e8edee;
  position: absolute;
  clip-path: polygon(51% 100%, 0 0, 100% 0);
}

.rightCanine{
  width: 33px;
  height: 23px;
  margin-left: 285px;
  margin-top: -48px;
  background-color: black;
  position: absolute;
  clip-path: polygon(51% 100%, 0 0, 100% 0);
  transform: rotate(7deg);
}

.subRightCanine{
  width: 30px;
  height: 20px;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #e8edee;
  position: absolute;
  clip-path: polygon(51% 100%, 0 0, 100% 0);
}

.leftSmile{
  width: 25px;
  height: 15px;
  margin-top: -60px;
  margin-left: 310px;
  position: absolute;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 2px;
  transform: rotate(7deg);
}

.rightSmile{
  width: 25px;
  height: 15px;
  margin-top: -90px;
  margin-left: 70px;
  position: absolute;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-radius: 2px;
  transform: rotate(7deg);
}

/* ...........................................................................fin mouth */

.lineCruz1{
  width: 40px;
  height: 0px;
  margin-left: 141px;
  margin-top: 23px;
  border: 1px solid #33250c;
  position: absolute;
  transform: rotate(35deg);
}

.lineCruz2{
  width: 35px;
  height: 0px;
  margin-left: 136px;
  margin-top: 30px;
  border: 1px solid #33250c;
  position: absolute;
  transform: rotate(30deg);
}

.lineCruz3{
  width: 35px;
  height: 0px;
  margin-left: 144px;
  margin-top: 54px;
  border: 1px solid #33250c;
  position: absolute;
  transform: rotate(-19deg);
}

.lineCruz4{
  width: 30px;
  height: 0px;
  margin-left: 141px;
  margin-top: 45px;
  border: 1px solid #33250c;
  position: absolute;
  transform: rotate(-19deg);
}

.lineCruz5{
  width: 47px;
  height: 0px;
  margin-left: 179px;
  margin-top: 27px;
  border: 1px solid #33250c;
  position: absolute;
  transform: rotate(-19deg);
}

.lineCruz6{
  width: 42px;
  height: 0px;
  margin-left: 184px;
  margin-top: 37px;
  border: 1px solid #33250c;
  position: absolute;
  transform: rotate(-19deg);
}

.lineCruz7{
  width: 35px;
  height: 0px;
  margin-left: 177px;
  margin-top: 58px;
  border: 1px solid #33250c;
  position: absolute;
  transform: rotate(32deg);
}

.lineCruz8{
  width: 33px;
  height: 0px;
  margin-left: 185px;
  margin-top: 52px;
  border: 1px solid #33250c;
  position: absolute;
  transform: rotate(27deg);
}

/* fin line cruz................................................................. */

.line1{
  width: 5px;
  height: 0px;
  margin-left: 60px;
  margin-top: -151px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(105deg);
}

.line2{
  width: 5px;
  height: 0px;
  margin-left: 65px;
  margin-top: -160px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(65deg);
}

.line3{
  width: 5px;
  height: 0px;
  margin-left: 70px;
  margin-top: -166px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(65deg);
}

.line4{
  width: 5px;
  height: 0px;
  margin-left: 205px;
  margin-top: -200px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(65deg);
}

.line5{
  width: 5px;
  height: 0px;
  margin-left: 215px;
  margin-top: -202px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(90deg);
}

.line6{
  width: 8px;
  height: 0px;
  margin-left: 230px;
  margin-top: -200px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(65deg);
}

.line7{
  width: 8px;
  height: 0px;
  margin-left: 235px;
  margin-top: -205px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(51deg);
}

.line8{
  width: 8px;
  height: 0px;
  margin-left: 362px;
  margin-top: -135px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(140deg);
}

.line9{
  width: 5px;
  height: 0px;
  margin-left: 374px;
  margin-top: -134px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(110deg);
}

.line10{
  width: 5px;
  height: 0px;
  margin-left: 380px;
  margin-top: -133px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(90deg);
}

.line11{
  width: 8px;
  height: 0px;
  margin-left: 388px;
  margin-top: -132px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(77deg);
}

.line12{
  width: 8px;
  height: 0px;
  margin-left: 388px;
  margin-top: -64px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(-20deg);
}

.line13{
  width: 8px;
  height: 0px;
  margin-left: 387px;
  margin-top: -57px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(-20deg);
}

.line14{
  width: 5px;
  height: 0px;
  margin-left: 391px;
  margin-top: -45px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(-55deg);
}

.line15{
  width: 8px;
  height: 0px;
  margin-left: 394px;
  margin-top: -36px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(-60deg);
}

.line16{
  width: 8px;
  height: 0px;
  margin-left: 307px;
  margin-top: -6px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(-8deg);
}

.line17{
  width: 8px;
  height: 0px;
  margin-left: 317px;
  margin-top: -14px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(2deg);
}

.line18{
  width: 8px;
  height: 0px;
  margin-left: 323px;
  margin-top: -21px;
  border: 1px solid #3c243a;
  position: absolute;
  transform: rotate(45deg);
}

/* fin line..................................................................................................... */
 .shadow1{
  width: 69px;
  height: 112px;
  margin-top: -90px;
  margin-left: -6px;
  position: absolute;
  background-color: rgba(120, 88, 129, 0.7);
  clip-path: polygon(42% 48%, 0 52%, 70% 79%);
  transform: rotate(7deg);
}

.shadow2{
      width: 314px;
      height: 168px;
      margin-top: -54px;
      margin-left: 14px;
      position: absolute;
      background-color: rgba(120, 88, 129, 0.7);
      clip-path: polygon(46% 51%, 85% 45%, 100% 35%, 100% 56%, 76% 79%, 56% 82%, 26% 77%, 12% 57%, -1% 33%, 13% 45%);
      transform: rotate(7deg);
  }

.shadow3{
  width: 113px;
  height: 58px;
  margin-top: 3px;
  margin-left: 273px;
  position: absolute;
  background-color: rgba(120, 88, 129, 0.7);
  clip-path: polygon(60% 19%, 100% 0, 84% 50%, 49% 100%, 49% 34%);
  transform: rotate(7deg);
}


.shadow4{
  width: 67px;
  height: 74px;
  margin-top: -252px;
  margin-left: 196px;
  position: absolute;
  background-color: rgba(120, 88, 129, 0.7);
  clip-path: polygon(24% 9%, 33% 3%, 48% 0, 63% 2%, 70% 7%, 73% 42%, 89% 64%, 81% 75%, 69% 80%, 56% 80%, 44% 78%, 22% 48%);
  transform: rotate(4deg);
}

.shadow5{
  width: 50px;
  height: 62px;
  margin-top: -176px;
  margin-left: 376px;
  position: absolute;
  background-color: rgba(120, 88, 129, 0.7);
  clip-path: polygon(24% 12%, 37% 15%, 47% 16%, 61% 14%, 72% 12%, 73% 42%, 89% 64%, 81% 75%, 69% 80%, 56% 80%, 44% 78%, 22% 48%);
  transform: rotate(53deg);
}

.shadow6{
  width: 40px;
  height: 90px;
  margin-top: -90px;
  margin-left: 394px;
  position: absolute;
  background-color: rgba(120, 88, 129, 0.7);
  clip-path: polygon(14% 24%, 29% 21%, 45% 26%, 59% 24%, 80% 16%, 73% 42%, 89% 64%, 81% 75%, 69% 80%, 56% 80%, 44% 78%, 12% 58%);
  transform: rotate(79deg);
}

.click{
  width: 100%;
  height: 50px;
  margin-top: 430px;
  margin-left: 240px;
  position: absolute;
}


.btn-neon{
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.btn-neon{
  color: #fff;
}

.btn-neon:hover{
  background: #c5ce26;
  box-shadow: 0 0 10px #c5ce26, 0 0 40px #c5ce26, 0 0 80px #c5ce26;
}
